body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    margin-bottom: 0;
}

.whats {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 9999;
}

.whats:hover{
    cursor: pointer;
    transform: scale(1.3);
}
